:root {
    font-family: "Lexend", sans-serif;
    --mainColor: #252525;
    --decorationColor1: linear-gradient(10deg, #15f5fd 10%, #036cda 80%);
    --decorationColor2: linear-gradient(10deg, #f2ecb6 10%, #a96f44 80%);
    --decorationColor3: linear-gradient(10deg, #ffc0d6 10%, #e0709f 80%);
    --decorationColor4: linear-gradient(10deg, #e2b0ff 10%, #9f44d3 80%);
    --decorationColor5: linear-gradient(10deg, #dfec51 10%, #73aa0a 80%);
    --decorationBarHeight: 8px;
    --transitionDuration: 200ms;
    --boxShadow: 0 0 10px 0 rgb(0, 0, 0, 0.3);
    --imageBoxShadow: 0 3px 10px;
    --hoverBackgroundColor: #25252540;
    background-color: var(--mainColor);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: var(--mainColor);
    color: var(--mainColor);
}

nav>a {
    display: none;
    margin-right: 3%;
}

nav a .list-button {
    position: relative;
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: var(--mainColor);
}

.list-button .shape {
    position: absolute;
    color: white;
    text-align: center;
    font-weight: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

nav {
    position: fixed;
    z-index: 100;
    width: calc(100% - 40px);
    height: 40px;
    left: 20px;
    right: 20px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: var(--boxShadow);
    display: flow-root;
    font-size: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-links {
    margin: 2px;
    margin-right: 1%;
    float: right;
    padding: 0;
}

nav .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 7px 4px;
    margin: 5px;
    transition: 200ms;
    border-radius: 50%;
}

nav .hamburger:hover {
    background-color: var(--hoverBackgroundColor);
}

nav .hamburger .bar {
    width: 20px;
    height: 3px;
    background-color: #252525;
    margin: 1px;
    border-radius: 3px;
}

.nav-links li {
    list-style: none;
    float: left;
    margin-left: 5px;
}

.nav-buttons {
    text-decoration: none;
    color: var(--mainColor);
    margin: 7px;
    display: block;
    padding: 3px 5px;
    border-radius: 5px;
    transition-duration: var(--transitionDuration);
    font-weight: 500;
    font-size: 13px;
}

.logo-name {
    position: relative;
    left: 3%;
    font-weight: bold;
    font-size: 20px;
}

/* hovering */
.nav-buttons:hover {
    background-color: #25252540;
}

.nav-buttons:active {
    background-color: var(--mainColor);
    color: white;
}

#cv {
    background-color: var(--mainColor);
    color: white;
    pointer-events: none;
}

main {
    position: relative;
    top: 10vh;
}

.cv {
    background-color: white;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    padding: 8px;
    box-shadow: var(--boxShadow);
    display: grid;
    grid-template-columns: minmax(150px, 1fr) minmax(150px, 2fr) minmax(150px, 1fr);
    grid-template-rows: auto auto;
    gap: 10px;
}

.photo-area {
    height: 100%;
    background-image: linear-gradient(100deg, #807461, #c2b39c 50%);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    font-size: 14px;
    grid-row: span 2;
}

.photo-area img {
    width: 70%;
    border-radius: 50%;
    border: 2px solid white;
}

.photo-area #name {
    width: 80%;
    margin: 10px auto 0;
    text-align: center;
}

.photo-area #under-name {
    letter-spacing: 3px;
    font-size: 12px;
    width: 80%;
    margin: -5px auto 10%;
    text-align: center;
}

.photo-area #contacts {
    list-style-type: none;
    padding: 3px;
    text-wrap: wrap;
    width: 80%;
    align-self: center;
    line-height: 17px;
}

.photo-area #contacts li {
    margin-bottom: 8px;
}

.photo-area h2 {
    margin: 20px 2% 0;
    align-self: flex-start;
    text-transform: uppercase;
}

.photo-area hr {
    color: white;
    width: 100%;
    margin: 2px auto 5px;
    border-color: white;
}

.photo-area .lists {
    padding: 1%;
    text-wrap: wrap;
    width: 80%;
}

.photo-area .lists li {
    margin-bottom: 15px;
}

div h3 {
    font-size: 23px;
    text-transform: uppercase;
}

.education {
    grid-column-start: 2;
}

.skills {
    grid-column-start: 3;
}

.experience {
    grid-column: 2 / span 2;
}

.education,
.skills,
.experience {
    padding: 0 10px;
    border-radius: 8px;
    box-shadow: var(--boxShadow);

    ul li {
        margin-bottom: 10px;
    }
}

.experience-content h4 {
    text-indent: 10px;
    margin-bottom: 5px;
    word-spacing: 30px;
}

.experience-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-evenly;
}

.experience-content div {
    flex: 1 1 auto;
}

dl dt {
    text-indent: 20px;
}

/* no need to remove it in the future ;D */
dd:empty::after {
    content: "Empty.";
}

/*  */

.button {
    padding: 15px;
    border: 0;
    border-radius: 25px;
    font-family: "Lexend", sans-serif;
    background-color: white;
    transition-duration: var(--transitionDuration);
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.23);
    color: white;
    box-shadow: var(--boxShadow);
    transform: scale(1.08);
}

.button:active {
    transform: scale(1);
}

#download-button {
    margin: 10px 3% 10px 5%;
}

@media (min-width:510px) and (max-width:941px) {
    .cv {
        grid-template-columns: minmax(150px, 1fr) minmax(150px, 2fr);
        gap: 0;
    }

    .photo-area {
        grid-row: span 3;
    }

    .education {
        margin: 0 0 0 10px;
    }

    .skills {
        grid-column-start: 2;
        margin: 10px 0 0 10px;
    }

    .experience {
        grid-column-start: 2;
        margin: 10px 0 0 10px;
    }
}

@media (max-width:510px) {
    .cv {
        grid-template-columns: minmax(150px, 1fr);
        gap: 0;
    }

    .education,
    .skills,
    .experience {
        grid-column-start: 1;
        margin: 10px 0;
    }

    .skills {
        margin: 0;
    }

    .experience {
        margin-bottom: 0;
    }
}

@media (max-width:428px) {
    nav {
        height: 35px;
    }

    .logo-name {
        left: 50%;
        transform: translate(-50%, 0);
    }

    nav .nav-links {
        display: none;
        position: fixed;
        z-index: 95;
        top: 35px;
        right: 25px;
        left: 25px;
        background-color: var(--mainColor);
        flex-direction: column;
        text-align: center;
        padding: 1rem;
        margin: 0;
        border-radius: 0 0 5px 5px;
        box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.2);
    }

    .nav-buttons {
        color: white;
    }

    .nav-buttons:hover {
        background-color: rgba(255, 255, 255, 0.151);
    }

    .nav-buttons:active {
        color: var(--mainColor);
        background-color: white;
    }

    #cv {
        background-color: white;
        color: var(--mainColor);
        pointer-events: none;
    }

    nav .nav-links.active {
        display: flex;
    }

    nav .hamburger {
        display: flex;
    }
}

.no-permission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: white;
    font-weight: 200;
    font-size: 14px;
}

img[alt="no-permission"] {
    width: 15%;
}