@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');
/* font-family: "Noto Serif TC", serif; */

:root {
    --mainColor: #252525;
    --decorationColor1: linear-gradient(10deg, #15f5fd 10%, #036cda 80%);
    --decorationColor2: linear-gradient(10deg, #f2ecb6 10%, #a96f44 80%);
    --decorationColor3: linear-gradient(10deg, #ffc0d6 10%, #e0709f 80%);
    --decorationColor4: linear-gradient(10deg, #e2b0ff 10%, #9f44d3 80%);
    --decorationColor5: linear-gradient(10deg, #dfec51 10%, #73aa0a 80%);
    --decorationBarHeight: 8px;
    --transitionDuration: 200ms;
    --boxShadow: 0 0 10px 0 rgba(14, 14, 14, 0.2);
    --imageBoxShadow: 0 3px 5px rgba(14, 14, 14, 0.3);
    --hoverBackgroundColor: #25252540;
    background-color: var(--mainColor);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: white;
    color: var(--mainColor);
    font-family: "Lexend", sans-serif;
}

nav {
    position: fixed;
    z-index: 100;
    width: calc(100% - 40px);
    height: 40px;
    left: 20px;
    right: 20px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: var(--boxShadow);
    display: flow-root;
    font-size: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-links {
    margin: 2px;
    margin-right: 1%;
    float: right;
    padding: 0;
}


nav .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    transition: 200ms;
    border-radius: 5px;
}

nav .hamburger:hover {
    background-color: var(--hoverBackgroundColor);
}

nav .hamburger .bar {
    width: 20px;
    height: 3px;
    background-color: var(--mainColor);
    margin: 1px;
    border-radius: 3px;
}

.nav-links li {
    list-style: none;
    float: left;
    margin-left: 5px;
}

details.nav-buttons {
    cursor: pointer;

    div {
        margin-top: 15px;
    }

    a.nav-buttons {
        font-weight: 200;
        color: white;
    }

    a.nav-buttons:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}


.nav-buttons {
    text-decoration: none;
    color: var(--mainColor);
    margin: 7px;
    display: block;
    padding: 3px 5px;
    border-radius: 5px;
    transition-duration: var(--transitionDuration);
    font-weight: 500;
    font-size: 13px;
}

.logo-name {
    position: relative;
    left: 3%;
    font-weight: bold;
    font-size: 20px;
}

/* hovering */
.nav-buttons:hover {
    background-color: #25252540;
}

.nav-buttons:active {
    background-color: var(--mainColor);
    color: white;
}


#my-workshop {
    background-color: var(--mainColor);
    color: white;
}

#my-workshop[open] {
    transform: translate(0, 45%);
    background-color: var(--mainColor);
    border-radius: 5px;
    box-shadow: var(--boxShadow);
    color: white;
    transition: 200ms;
}

.introduction {
    height: 100vh;
    position: relative;
    perspective: 500px;
    overflow: hidden;
    background-color: rgb(227, 227, 227);
    overflow: hidden;
}

.background {
    position: absolute;
    z-index: 0;
    background-image: url('../My workshop/Picsart_24-09-22_20-09-01-170.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    animation-name: background;
    animation-duration: 2s;
}

@keyframes background {
    from {
        transform: scale(1.4) rotate(10deg);
    }
}

.top-introduction {
    position: absolute;
    z-index: 1;
    top: 15vh;
    margin-left: 8%;
    perspective: 500px;
}

.top-introduction::before {
    content: "";
    width: 10px;
    height: 85vh;
    background-image: linear-gradient(100deg, var(--mainColor), rgb(164, 164, 164));
    position: absolute;
    z-index: 1;
    border-radius: 20px;
    left: -3%;
    top: 5px;
    animation-name: swip-up;
    animation-duration: 1.2s;
}

.top-introduction::after {
    content: "";
    width: 10px;
    height: calc(85vh - 25px);
    background-image: linear-gradient(100deg, var(--mainColor), rgb(164, 164, 164));
    position: absolute;
    z-index: 1;
    border-radius: 20px;
    left: -27px;
    top: 30px;
    animation-name: swip-up;
    animation-duration: 1.5s;
}

@keyframes swip-up {
    from {
        top: 600px;
    }
}

.top-introduction h1 {
    font-size: 60px;
    font-weight: 999;
    margin: 0;
    margin-bottom: -15px;
    word-spacing: 10px;
    animation-name: swip-left;
    animation-duration: 1s;
}

.top-introduction span {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 5px;
    margin-left: 3px;
    animation-name: swip-left;
    animation-duration: 1.5s;
}

@keyframes swip-left {
    from {
        transform: translatex(20px);
        opacity: 0;
    }
}

.center-introduction {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    width: fit-content;
    transform: translate(-50%, -50%);
}

.logo-area-relative {
    position: relative;
    width: 100%;
}

.center-introduction img[alt="circle"],
.center-introduction img[alt="line"] {
    width: 250px;
    filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.334));
    animation-name: logo;
    animation-duration: 1s;
    transition: 200ms;
}

.center-introduction img[alt="line"] {
    position: absolute;
    left: 0;
    bottom: 25px;
    animation-name: logo;
    animation-duration: 1.3s;
    transition: 210ms;
}

.center-introduction:hover img[alt="circle"] {
    transform: scale(1.1);
}

.center-introduction:hover img[alt="line"] {
    transform: scale(1.1);
}

.center-introduction:hover .loaiproject {
    opacity: 1;
    transform: translateX(50%) scale(1);
}

@keyframes logo-hover {
    to {
        transform: scale(1.1);
    }
}

@keyframes logo {
    from {
        transform: scale(1.2);
        opacity: 0;
    }
}

.loaiproject {
    position: absolute;
    top: 70%;
    right: 50%;
    transform: translateX(50%) scale(0.8);
    font-family: "Noto Serif TC", serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 3px;
    opacity: 0;
    pointer-events: none;
    transition: 200ms;
}

.introduction .fact {
    position: absolute;
    z-index: 1;
    bottom: 25px;
    margin-left: 8%;
    font-weight: 300;
    font-size: 14px;
    animation-name: swip-left;
    animation-duration: 1.6s;
}

.white-fog {
    position: absolute;
    z-index: 2;
    top: 100vh;
    transform: translate(0, -50%);
    width: 100%;
    height: 140px;
    background-image: linear-gradient(to bottom, transparent, white 50%);
    border: none;
    margin: 0;
}

.content {
    background-color: white;
    position: relative;
    z-index: 2;
}

.sub-content {
    padding: 100px 0;
    margin-bottom: 300px;
    position: relative;
    height: 300px;
}

.sub-content h2 {
    position: relative;
    z-index: 2;
    padding: 15px;
    padding-bottom: 7px;
    margin-left: 5%;
    font-size: 35px;
    text-transform: capitalize;
    background-color: var(--mainColor);
    color: white;
    width: fit-content;
    height: fit-content;
    border-radius: 10px 10px 0 0;
    /* background-image: url("../My workshop/black\ and\ white\ fancy.png"); */
    background-blend-mode: multiply;
    background-size: 80%;
}

.sub-content h2 span {
    display: block;
    font-size: 14px;
    font-weight: 200;
    margin-top: -5px;
    letter-spacing: 4px;
    opacity: 0.4;
}

.sub-content h2::after {
    content: "";
    width: 10%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 100%;
    border-bottom-left-radius: 20px;
    box-shadow: -1px 15px 0 var(--mainColor);
}

.sub-content h2::before {
    content: "";
    width: 10%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 100%;
    border-bottom-right-radius: 20px;
    box-shadow: 1px 15px 0 var(--mainColor);
}

.horizontal-content {
    position: absolute;
    z-index: 1;
    top: 205px;
    width: 100%;
    height: 100%;
    background-color: var(--mainColor);
    box-shadow: var(--boxShadow);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.horizontal-content::after {
    content: "";
    width: 97%;
    height: 10px;
    background-image: url("../My workshop/black\ and\ white\ fancy.png");
    background-attachment: fixed;
    position: absolute;
    top: -10px;
    background-color: rgb(116, 116, 116);
    background-blend-mode: multiply;
    background-size: 150px;
    border-radius: 10px 10px 0 0;
}

.horizontal-content::before {
    content: "";
    width: 97%;
    height: 10px;
    background-image: url("../My workshop/black\ and\ white\ fancy.png");
    background-attachment: fixed;
    position: absolute;
    bottom: -10px;
    background-color: rgb(116, 116, 116);
    background-blend-mode: multiply;
    background-size: 150px;
    border-radius: 0 0 10px 10px;
}

.horizontal-content img {
    width: 200px;
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
    transition: 100ms;
}

.horizontal-content a {
    color: white;
    text-decoration: none;
    width: fit-content;
}

.horizontal-content figure {
    transition: 200ms;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.horizontal-content a:hover figure {
    transform: scale(1.07);

    img {
        border-color: black;
        box-shadow: 0 2px 10px 0 rgb(0, 0, 0, 0.5);
    }
}

.horizontal-content a:active {
    text-decoration: underline;
}

.horizontal-content figure figcaption {
    font-weight: 600;
    margin: 3px;
}

.horizontal-content figure span {
    font-size: 12px;
    font-weight: 300;
    opacity: 0.4;
    margin-top: -5px;
}

@media (max-width:552px) {
    .top-introduction h1 {
        font-size: 45px;
    }

    .top-introduction span {
        font-size: 12px;
    }

    .center-introduction img[alt="circle"],
    .center-introduction img[alt="line"] {
        width: 200px;
    }

    .loaiproject {
        font-size: 15px;
    }

    .top-introduction::after {
        left: -23px;
    }

    .introduction .fact {
        font-size: 12px;
    }
}

@media (max-width:445px) {
    nav {
        height: 35px;
    }

    .logo-name {
        left: 50%;
        transform: translate(-50%, 0);
    }

    nav .nav-links {
        display: none;
        position: fixed;
        z-index: 95;
        top: 35px;
        right: 25px;
        left: 25px;
        background-color: var(--mainColor);
        flex-direction: column;
        padding: 1rem;
        margin: 0;
        border-radius: 0 0 5px 5px;
        box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.2);
    }

    .nav-buttons {
        color: white;
    }

    .nav-buttons:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .nav-buttons:active {
        color: var(--mainColor);
        background-color: white;
    }

    #my-workshop {
        background-color: white;
        color: var(--mainColor);
    }

    #my-workshop[open] {
        background-color: white;
        color: var(--mainColor);
        transform: translate(0, 0);

        a.nav-buttons {
            color: var(--mainColor);
        }

        a.nav-buttons:hover {
            background-color: var(--hoverBackgroundColor);
        }
    }

    nav .nav-links.active {
        display: flex;
    }

    nav .hamburger {
        display: flex;
    }

    .top-introduction h1 {
        margin-left: 2%;
        line-height: 50px;
    }

    .top-introduction span {
        letter-spacing: 3px;
        margin-top: 10px;
        margin-left: 3%;
        line-height: 10px;
    }

    .sub-content h2 {
        margin-left: auto;
        margin-right: auto;
    }

    .center-introduction img[alt="circle"],
    .center-introduction img[alt="line"] {
        width: 170px;
    }

    .loaiproject {
        font-size: 12px;
    }

    .introduction .fact {
        margin-left: 9%;
    }

    .projects {
        padding-bottom: 20px;
        margin-bottom: -30px;
    }

    .projects figure img {
        width: 170px;
    }

    .projects figcaption {
        font-size: 14px;
    }
}