@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');
/* font-family: "Noto Serif TC", serif; */

main.workshop {
    position: relative;
    height: 100dvh;
    overflow: hidden;
    background-color: var(--white);
    color: var(--mainColor);
}

.logo-name {
    position: relative;
    font-size: 1.15rem;
    left: 1em;
    font-weight: bold;
}

/* hovering */
.nav-buttons:hover {
    background-color: var(--hoverBackgroundColor);
}

.nav-buttons:active {
    background-color: var(--button-color);
    color: white;
}

/* checkbox theme */
.checkbox-wrapper-54 input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.checkbox-wrapper-54,
.checkbox-wrapper-54 .switch,
.checkbox-wrapper-54 input[type="checkbox"] {
    -webkit-tap-highlight-color: transparent;
}

.checkbox-wrapper-54 *,
.checkbox-wrapper-54 ::after,
.checkbox-wrapper-54 ::before {
    box-sizing: border-box;
}

/* The switch - the box around the slider */
.checkbox-wrapper-54 .switch {
    --width-of-switch: 3em;
    --height-of-switch: 1.5em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.125em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.25em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
    display: inline-block;
    margin-inline-start: 1.5em;
    -webkit-tap-highlight-color: transparent;
}

/* The slider */
.checkbox-wrapper-54 {
    display: flex;
    align-items: center;
}

.checkbox-wrapper-54 .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(240, 5%, 85%);
    transition: .4s;
    border-radius: 30px;
}

.checkbox-wrapper-54 .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon, 1.4em);
    width: var(--size-of-icon, 1.4em);
    border-radius: 20px;
    left: var(--slider-offset, 0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
    ;
    transition: .4s;
}

.checkbox-wrapper-54 input:checked+.slider {
    background-color: #303136;
}

.checkbox-wrapper-54 input:checked+.slider:before {
    left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

.workshop {
    height: 100vh;
    width: 100vw;
    position: relative;
    perspective: 500px;
    overflow: hidden;
    background-color: var(--white);
    overflow: hidden;
}

.background {
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    z-index: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    animation-name: background;
    animation-duration: 2.7s;
}

.top-introduction {
    position: absolute;
    z-index: 1;
    top: 15vh;
    margin-left: 8%;
    perspective: 500px;
}

.top-introduction::before {
    content: "";
    width: 10px;
    height: 85vh;
    background-image: linear-gradient(100deg, var(--mainColor), var(--white));
    position: absolute;
    z-index: 1;
    border-radius: 20px;
    left: -3%;
    top: 5px;
    animation-name: swip-up;
    animation-duration: 1.5s;
}

.top-introduction::after {
    content: "";
    width: 10px;
    height: calc(85vh - 25px);
    background-image: linear-gradient(100deg, var(--mainColor), var(--white));
    position: absolute;
    z-index: 1;
    border-radius: 20px;
    left: -27px;
    top: 30px;
    animation-name: swip-up;
    animation-duration: 1.7s;
}

.top-introduction h1 {
    font-size: 4rem;
    font-weight: 999;
    margin: 0;
    margin-bottom: -15px;
    word-spacing: 10px;
    animation-name: swip-left;
    animation-duration: 1500ms;
}

.top-introduction span {
    display: inline-block;
    font-size: 0.8125rem;
    font-weight: 300;
    letter-spacing: 5px;
    margin-left: 3px;
    animation-name: swip-left;
    animation-duration: 2000ms;
}

.navigations {
    --big-screen: 1;
    --small-screen: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    z-index: 1;
    left: 58%;
    top: 50%;
    aspect-ratio: 1;
    width: 20em;
    transform: translate(-58%, -50%);
    clip-path: circle(100% at center);
    border-radius: 50%;
    border-right: 0.4em solid var(--black1);
    transition: 300ms;
    overflow: visible;
    animation: navigations 2s;

    li {
        margin: 0;
        padding: 0;
        width: fit-content;
        position: absolute;
        transition-duration: var(--transitionDuration);
        overflow: visible;

        button {
            clip-path: circle();
            background-color: var(--black1);
            border-radius: 50%;
            padding: 0.75em;
            aspect-ratio: 1;
            color: var(--white);
            display: flex;
            align-items: center;
            position: relative;
            transition-duration: 100ms;
            border: none;
        }

        span {
            position: absolute;
            left: calc(100% + 0.5em);
            top: 50%;
            transform: translateY(-50%);
            translate: -50% 0;
            color: var(--black1);
            font-weight: bold;
            text-wrap: nowrap;
            scale: 0;
            opacity: 0;
            transition-duration: 150ms;
        }

        button:active {
            scale: 0.9;
        }
    }

    li:hover {
        scale: 1.2;
    }

    li:hover span {
        scale: unset;
        opacity: unset;
        translate: 0 0;
    }


    #websites {
        --top: 8%;
        --right: 7%;
        top: var(--top);
        right: var(--right);
    }

    #websites:hover~#open-source,
    #websites:hover~#ui-ux,
    #websites:hover~#modeling,
    #open-source:hover~#ui-ux,
    #open-source:hover~#modeling,
    #ui-ux:hover~#modeling {
        top: calc(var(--top) + 2.5%);
        right: calc((var(--top) / 16 + var(--right)) - 2.5%);
    }

    #open-source {
        --top: 31%;
        --right: -7%;
        top: var(--top);
        right: var(--right);
    }

    #ui-ux {
        --top: 56%;
        --right: -7%;
        top: var(--top);
        right: var(--right);
    }

    #modeling {
        --top: 79%;
        --right: 7%;
        top: var(--top);
        right: var(--right);
    }
}

.logo-area-realtive {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 250px;
}

.logo-area-realtive img[alt="circle"],
.logo-area-realtive img[alt="line"] {
    width: inherit;
    mix-blend-mode: darken;
    filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.334));
    animation-name: logo;
    animation-duration: 2s;
    transition: 200ms;
}

.logo-area-realtive img[alt="line"] {
    mix-blend-mode: lighten;
    position: absolute;
    left: 0;
    bottom: 1.75em;
    animation-name: logo;
    animation-duration: 2.3s;
    transition: 300ms;
}

.logo-area-realtive:hover img[alt="circle"],
.logo-area-realtive:hover img[alt="line"] {
    transform: scale(1.04);
}

.logo-area-realtive:hover~.navigations {
    translate: 1.5em 0;
    scale: 1.04;
}

.logo-area-realtive:hover .loaiproject {
    opacity: 1;
    transform: translateX(50%) scale(1);
}

.loaiproject {
    position: absolute;
    top: 70%;
    right: 50%;
    transform: translateX(50%) scale(0.8);
    font-family: "Noto Serif TC", serif;
    font-weight: 500;
    font-size: 20px;
    font-size-adjust: 0.5;
    letter-spacing: 3px;
    opacity: 0;
    pointer-events: none;
    transition: 200ms;
}

.workshop .fact {
    position: absolute;
    z-index: 1;
    bottom: 25px;
    margin-left: 8%;
    font-weight: 300;
    font-size: 0.8125rem;
    animation-name: swip-left;
    animation-duration: 1.6s;
}

.white-fog {
    position: absolute;
    z-index: 2;
    top: 100vh;
    transform: translate(0, -50%);
    width: 100%;
    height: 140px;
    background-image: linear-gradient(to bottom, transparent, var(--white) 50%);
    border: none;
    margin: 0;
}

@media (prefers-reduced-motion:no-preference) {
    @keyframes background {
        from {
            transform: scale(1.4) rotate(10deg);
        }
    }

    @keyframes swip-up {
        from {
            top: 100vh;

        }
    }

    @keyframes swip-left {
        from {
            transform: translatex(3rem);
            opacity: 0;
        }
    }

    @keyframes logo {
        from {
            transform: scale(1.2);
            opacity: 0;
        }
    }

    @keyframes navigations {
        from {
            translate: calc(1.5em * var(--big-screen)) calc(1.5em * var(--small-screen));
            opacity: 0;
        }
    }
}

@media (max-width:1060px) {
    .navigations {
        rotate: 20deg;
        transform: translate(-58%, -20%);

        li {
            rotate: -20deg;
        }
    }
}

@media (max-width:790px) {
    .navigations {
        --big-screen: 0;
        --small-screen: 1;
        width: 20em;
        rotate: 90deg;
        left: 50%;
        transform: translate(-30%, 50%);

        li {
            rotate: -90deg;
        }

        li:not(#modeling) span {
            top: 120%;
            left: 10%;
        }
    }

    .logo-area-realtive:hover~.navigations {
        translate: 0 1em;
        scale: unset;
    }
}

@media (max-width:715px) {
    .top-introduction h1 {
        line-height: 0.85;
    }

    .top-introduction span {
        margin-top: 1.25em;
    }
}

@media (max-width:580px) {
    .navigations {
        width: 17em;
    }

    .top-introduction h1 {
        font-size: 3rem;
    }

    .logo-area-realtive {
        width: 200px;
    }

    .logo-area-realtive img[alt="line"] {
        bottom: 1.5em;
    }

    .loaiproject {
        font-size: 0.9125rem;

    }

    .top-introduction::after {
        left: -23px;
    }

}

@media (max-width:540px) {

    a:focus,
    button:focus,
    .figure-buttons:focus,
    .figure-buttons a:focus {
        outline: 1.5px solid var(--black1);
        -webkit-tap-highlight-color: transparent;
    }

    .navigations {
        width: 15em;

        li {
            width: 2.25em;

            span {
                font-size: 0.75rem;
            }
        }
    }

    .top-introduction h1 {
        margin-left: 2%;
    }

    .top-introduction span {
        letter-spacing: 3px;
        margin-left: 3%;
        line-height: 0.85;
    }

    .logo-area-realtive {
        width: 170px;
    }

    .loaiproject {
        font-size: 0.75rem;

    }

    .fact {
        margin-left: 9%;
    }

}

button[aria-label="Visual Search"],
button[data-visual-search] {
    display: none !important;
}