nav>a {
    display: none;
    margin-right: 3%;
}

nav a .list-button {
    position: relative;
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: var(--mainColor);
}

.list-button .shape {
    position: absolute;
    color: white;
    text-align: center;
    font-weight: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

nav {
    position: fixed;
    z-index: 100;
    width: calc(100% - 40px);
    height: 40px;
    left: 20px;
    right: 20px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: var(--boxShadow);
    display: flow-root;
    font-size: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-links {
    margin: 2px;
    margin-right: 1%;
    float: right;
    padding: 0;
}

nav .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 7px 4px;
    margin: 5px;
    transition: 200ms;
    border-radius: 50%;
}

nav .hamburger:hover {
    background-color: var(--hoverBackgroundColor);
}

nav .hamburger .bar {
    width: 20px;
    height: 3px;
    background-color: #252525;
    margin: 1px;
    border-radius: 3px;
}

.nav-links li {
    list-style: none;
    float: left;
    margin-left: 5px;
}

.nav-buttons {
    text-decoration: none;
    color: var(--mainColor);
    margin: 7px;
    display: block;
    padding: 3px 5px;
    border-radius: 5px;
    transition-duration: var(--transitionDuration);
    font-weight: 500;
    font-size: 13px;
}

.logo-name {
    position: relative;
    left: 3%;
    font-weight: bold;
    font-size: 20px;
}

/* hovering */
.nav-buttons:hover {
    background-color: #25252540;
}

.nav-buttons:active {
    background-color: var(--mainColor);
    color: white;
}

#home {
    background-color: var(--mainColor);
    color: white;
    pointer-events: none;
}

@media (max-width:428px) {
    nav {
        height: 35px;
    }

    .logo-name {
        left: 50%;
        transform: translate(-50%, 0);
    }

    nav .nav-links {
        display: none;
        position: fixed;
        z-index: 95;
        top: 35px;
        right: 25px;
        left: 25px;
        background-color: var(--mainColor);
        flex-direction: column;
        text-align: center;
        padding: 1rem;
        margin: 0;
        border-radius: 0 0 5px 5px;
        box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.2);
    }

    .nav-buttons {
        color: white;
    }

    .nav-buttons:hover {
        background-color: rgba(255, 255, 255, 0.151);
    }

    .nav-buttons:active {
        color: var(--mainColor);
        background-color: white;
    }

    #cv {
        background-color: white;
        color: var(--mainColor);
        pointer-events: none;
    }

    nav .nav-links.active {
        display: flex;
    }

    nav .hamburger {
        display: flex;
    }
}