nav {
    position: fixed;
    z-index: 100;
    width: calc(100% - 40px);
    height: 40px;
    left: 20px;
    right: 20px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 98;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--boxShadow);
}

.nav-links {
    margin: 2px;
    margin-right: 1%;
    float: right;
    padding: 0;
    display: flex;
}


nav .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    transition: 200ms;
    border-radius: 5px;
}

nav .hamburger:hover {
    background-color: var(--hoverBackgroundColor);
}

nav .hamburger .bar {
    width: 20px;
    height: 3px;
    background-color: var(--mainColor);
    margin: 1px;
    border-radius: 3px;
}

.nav-links li {
    list-style: none;
    float: left;
    margin-left: 5px;
}

.nav-buttons {
    text-decoration: none;
    color: var(--mainColor);
    margin: 7px;
    display: block;
    padding: 3px 5px;
    border-radius: 5px;
    transition-duration: var(--transitionDuration);
    font-weight: 500;
    font-size: 13px;
}

#my-workshop {
    cursor: pointer;
}

.logo-name {
    position: relative;
    left: 3%;
    font-weight: bold;
    font-size: 20px;
}

/* hovering */
.nav-buttons:hover {
    background-color: #25252540;
}

.nav-buttons:active {
    background-color: var(--mainColor);
    color: white;
}

#home {
    background-color: var(--mainColor);
    color: white;
    pointer-events: none;
}

.nav-links .my-workshop-list {
    visibility: hidden;
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0.70);
    backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 0 0 5px 5px;
    position: fixed;
    z-index: 97;
    top: 40px;
    right: 25px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    li a.nav-buttons {
        font-weight: 400;
    }
}


@media (max-width:670px) {
    .my-workshop-list {
        flex-direction: column;
        align-items: start;

        li:first-child {
            margin-top: 7px;
        }
    }
}

@media (max-width:445px) {

    nav {
        height: 35px;
    }

    .logo-name {
        left: 50%;
        transform: translate(-50%, 0);
    }

    nav .nav-links {
        visibility: hidden;
        position: fixed;
        z-index: 95;
        top: 35px;
        right: 25px;
        left: 25px;
        background-color: #252525d6;
        backdrop-filter: blur(10px);
        -moz-backdrop-filter: blur(10px);
        -ms-backdrop-filter: blur(10px);
        -o-backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        flex-direction: column;
        padding: 1rem;
        margin: 0;
        border-radius: 0 0 5px 5px;
        box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.2);
    }

    .nav-links .my-workshop-list {
        top: 140px;
        left: 5px;
        right: 100px;
        background-color: #252525e2;
        align-items: flex-start;
    }

    .nav-buttons {
        color: white;
    }

    .nav-buttons:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .nav-buttons:active {
        color: var(--mainColor);
        background-color: white;
    }

    #home {
        background-color: white;
        color: var(--mainColor);
        pointer-events: none;
    }

    nav .nav-links.active {
        display: flex;
    }

    nav .hamburger {
        display: flex;
    }
}