.overlay {
  position: absolute;
  z-index: 3;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 50%, transparent);
  backdrop-filter: blur(5px);
  inset: 0;
  width: 100%;
  height: 100vh;
  transition-duration: unset;

  .overlay-content {
    width: 80%;
    max-width: 100rem;
    height: 80vh;
    background-color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    box-shadow: var(--boxShadow);
    border-radius: 1em;
    overflow: clip;

    h1 {
      margin: 0;
      padding: 0.5em;
      background-color: var(--white);
    }
  }
}

.js-pop-up {
  animation: overlay-pop-up both;
  animation-duration: 450ms;
}

.js-pop-out {
  animation: overlay-pop-up both;
  animation-duration: 450ms;
  animation-direction: reverse;
}

.overlay-content section {
  height: calc(100% + -9vh);
  overflow: auto;
  scroll-behavior: smooth;
  container: overlay-container / inline-size;
  scroll-timeline: --overlay;

  figure {
    background-color: var(--black2);
    height: 8em;
    border-radius: 0.5em;
    margin: 1em;
    margin-block: 1.75em;
    overflow: clip;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1em;
    box-shadow: var(--boxShadow2);

    img {
      aspect-ratio: 1;
      height: 100%;
      object-fit: cover;
    }

    .about-product {
      flex: 1 1;

      figcaption {
        font-size: 2rem;
        font-weight: bold;
        line-height: 1;
      }

      span {
        margin-block: 0.5em;
        font-size: 0.8rem;
        font-weight: 300;
        display: inline-block;
        max-width: 30ch;
      }
    }

    .figure-buttons {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      margin-right: 0.75em;
    }

    a {
      text-decoration: none;
      border: none;
      border-radius: 20em;
      padding: 0.625em 1em;
      background: linear-gradient(120deg, var(--black1), var(--black3));
      color: light-dark(white, black);
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 0.5em;
      cursor: pointer;
      font-size: 0.9rem;
      transition-duration: 100ms;
    }

    a:hover {
      opacity: 0.8;
      box-shadow: var(--boxShadow);
    }

    a:active {
      outline: 0.125em solid black
    }
  }
}

.overlay-content section::after,
.overlay-content section::before {
  opacity: 0;
  content: '';
  position: fixed;
  width: 100%;
  height: 0.75em;
  animation: overlay-scrolling linear both;
  animation-timeline: --overlay;
}

.overlay-content section::after {
  background: radial-gradient(farthest-side at 50% -100%, hsla(0, 0%, 7%, 0.6), transparent);
  top: 4.5em;
  left: 0;
  animation-range: 0.75em 2.75em;
}

.overlay-content section::before {
  background: radial-gradient(farthest-side at 50% 100%, hsla(0, 0%, 7%, 0.6), transparent);
  bottom: 0;
  left: 0;
  animation-direction: reverse;
  animation-range: calc(100% - 1.75em) calc(100% - 0.75em);
}

.secondary-button,
.overlay-content section figure a.secondary-button {
  background: transparent;
  color: light-dark(black, white);
  border: 0.25em solid;
  border-color: linear-gradient(120deg, var(--black1), var(--black3));
  padding: calc(0.625em - 0.25em) calc(1em - 0.25em);
}

.overlay-content section figure button.secondary-button:hover {
  background-color: var(--hoverBackgroundColor);
}

@container overlay-container (max-width: 565px) {
  .overlay-content section {
    figure {
      flex-direction: column;
      height: unset;

      img {
        width: 100%;
      }

      .about-product {
        align-self: flex-start;
        margin: 0.75em;
      }

      .figure-buttons {
        flex-direction: row;
        margin: 0;
        padding: 0.75em;
        justify-content: space-evenly;
        width: 100%;

        a {
          flex: 1 1 100%;
        }
      }
    }
  }
}

.overlay-content-details {
  display: block;
  width: 85%;
  max-width: 100rem;
  height: 81vh;
  background-color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  box-shadow: var(--boxShadow);
  border-radius: 1em;
  overflow: clip;
  transition-duration: unset;

  .scrolling-area {
    height: 100%;
    overflow: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;

    .photos-area {
      position: relative;
      timeline-scope: --photos-scrolling;

      ul.photos {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        max-height: 68vh;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: auto;
        scrollbar-width: none;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        scroll-timeline: --photos-scrolling x;
        background-color: var(--black4);

        li {
          scroll-snap-align: center;
          scroll-snap-stop: always;
          margin: 0;
          padding: 0;
          flex: 0 0 100%;
          display: flex;
          justify-content: center;

          img {
            height: 100%;
            max-width: 100%;
            object-fit: contain;
            object-position: center;
          }
        }
      }

      ul.markers {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        z-index: 2;
        left: 50%;
        transform: translate(-50%, -120%);
        border-radius: 5em;
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        padding: 0.5em;
        column-gap: 0.25em;
        background-color: var(--nav-color);
        backdrop-filter: blur(3px);

        li {
          margin: 0;
          padding: 0;
          display: flex;
          align-items: center;

          a {
            display: inline-block;
            aspect-ratio: 1;
            width: 1em;
            background-color: light-dark(hsla(0, 0%, 0%, 0.3), hsla(0, 0%, 100%, 0.3));
            border-radius: 50%;
            animation: content-details-photos-markers linear;
            animation-timeline: --photos-scrolling;
            animation-range: calc((var(--i)) * (100% / var(--num-photos))) calc((var(--i) + 1) * (100% / var(--num-photos)) + 1px);
          }

          a:hover {
            background-color: light-dark(hsla(0, 0%, 20%, 0.175), hsla(0, 0%, 100%, 0.175));
          }

          a:focus {
            outline: 1.5px solid var(--black1);
          }
        }
      }
    }

    h2 {
      margin-block-start: 2em;
      margin-inline-start: 0.125em;
    }

    .details-info {
      margin-inline-start: 0.75em;
    }

    .doc {
      margin: 2.5em 1vw;

      h1 {
        margin: -1em 0 0.3125em 0.125em;
        position: relative;
        width: fit-content;
      }

      h1::after {
        content: '';
        position: absolute;
        bottom: -0.25em;
        left: -1vw;
        width: 90%;
        height: 0.2em;
        background-image: linear-gradient(90deg, var(--white), var(--black3));
        border-radius: 0 2em 2em 0;
      }

      h1::before {
        content: '';
        position: absolute;
        bottom: -0.5em;
        left: -1vw;
        width: 80%;
        height: 0.15em;
        background-image: linear-gradient(90deg, var(--white), var(--black3));
        border-radius: 0 2em 2em 0;
      }

      small {
        display: inline-block;
        margin-bottom: 1.25em;
        margin-inline-start: 0.125em;
        font-weight: 300;
        font-size: 0.75rem;
      }

      p {
        line-height: 1.5;
        max-width: 75ch;
        margin-inline: 1em;
      }
    }

    .technologies {
      margin: 0 1vw;

      div.details-info {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
        position: relative;

        div:has(span) {
          margin-block-end: 1em;
        }

        span {
          padding: 0.25em;
          border-radius: 0.425em;
          display: flex;
          align-items: center;
          width: fit-content;
          column-gap: 0.25em;

          img {
            flex: 1 1 1em;
            width: 1em;
          }

          cursor: default;
        }

        span:hover {
          scale: 1.1;
        }

        small {
          position: absolute;
          opacity: 0;
          scale: 0.9;
          translate: -1em 0;
          margin-block-start: 0.125em;
          cursor: default;
        }

        span:hover+small {
          opacity: 1;
          scale: 1;
          translate: unset;
        }
      }
    }

    .contributors {
      margin: 0 1vw;

      .details-info {
        display: flex;
        flex-wrap: wrap;
        column-gap: 5em;
        row-gap: 1.5em;

        a {
          display: flex;
          align-items: center;
          width: fit-content;
          column-gap: 0.425em;
          text-decoration: none;
          color: unset;
          border-radius: 5em;
          padding: 0.425em;

          img {
            aspect-ratio: 1;
            width: 3em;
            border-radius: 50%;
          }

          .contributor-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            small.contributor-info-position {
              color: light-dark(rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.6));
            }
          }
        }

        a:hover {
          background-color: var(--black2);
          scale: 1.05;
          box-shadow: var(--boxShadow);
        }
      }
    }

    .figure-buttons {
      display: flex;

      a {
        text-decoration: none;
        border: none;
        border-radius: 20em;
        padding: 0.625em 1em;
        background: linear-gradient(120deg, var(--black1), var(--black3));
        color: light-dark(white, black);
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 0.5em;
        cursor: pointer;
        font-size: 0.9rem;
        transition-duration: 100ms;
        margin-inline: 0.5em;
        margin-block: 3em 0.5em;
        flex: 1 1 auto;
      }

      a:last-of-type:not(:only-of-type) {
        background: transparent;
        color: light-dark(black, white);
        border: 0.25em solid;
        border-color: linear-gradient(120deg, var(--black1), var(--black3));
        padding: calc(0.625em - 0.25em) calc(1em - 0.25em);
      }

      a:hover {
        opacity: 0.8;
        box-shadow: var(--boxShadow);
      }

      a:active {
        outline: 0.125em solid black;
      }
    }
  }
}

.close-button,
.back-button {
  position: fixed;
  z-index: 5;
  top: 1vw;
  right: 1vw;
  border-radius: 50%;
  border: none;
  background: var(--black3);
  aspect-ratio: 1;
  width: 2.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: var(--boxShadow);
  transition-duration: 100ms;

  span {
    width: 60%;
    height: 0.15rem;
    background-color: var(--white);
    border-radius: 2rem;
    position: absolute;
  }
}

.back-button {
  right: unset;
  left: 1vw;

  span {
    width: 53%;

  }

  span::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: -6%;
    width: 55%;
    height: inherit;
    border-radius: inherit;
    rotate: -45deg;
    background-color: var(--white);
  }

  span::before {
    content: '';
    position: absolute;
    top: 100%;
    left: -6%;
    width: 55%;
    height: inherit;
    border-radius: inherit;
    rotate: 45deg;
    background-color: var(--white);
  }
}

.close-button span:first-of-type {
  transform: rotate(45deg);
}

.close-button span:last-of-type {
  transform: rotate(-45deg);
}

.close-button:hover,
.back-button:hover {
  background-color: var(--hoverBackgroundColor);

  span,
  span::before,
  span::after {
    background-color: var(--black1);
  }
}

.close-button:active,
.back-button:active {
  scale: 0.95;
  outline: 0.125em solid light-dark(black, white);
}

/* Explicty animations */
@keyframes content-details-photos-markers {

  from,
  to {
    background-color: light-dark(black, white);
  }
}

@keyframes overlay-pop-up {
  from {
    scale: 0.95;
  }
}

@keyframes overlay-scrolling {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}