:root {
    color-scheme: light dark;
    --mainColor: light-dark(#252525, white);
    --static-black: #131313;
    --black1: light-dark(#131313, hsl(0, 0%, 90%));
    --black2: light-dark(white, hsl(0, 0%, 18%));
    --black3: light-dark(hsl(0, 0%, 18%), rgb(169, 169, 169));
    --white: light-dark(white, #1f1f1f);
    --simi-black: light-dark(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.25));
    --nav-color: light-dark(rgba(255, 255, 255, 0.6), hsla(0, 0%, 10%, 0.6));
    --decorationBarHeight: 8px;
    --transitionDuration: 200ms;
    --boxShadow: 0 0 10px 0 rgba(14, 14, 14, 0.2);
    --boxShadow2: 0 2px 10px 0 rgba(14, 14, 14, 0.2);
    --imageBoxShadow: 0 3px 5px rgba(14, 14, 14, 0.3);
    --hoverBackgroundColor: light-dark(hsla(0, 0%, 15%, 0.125), hsla(0, 0%, 80%, 0.125));
    --index-introduction: linear-gradient(140deg, light-dark(hsl(209, 50%, 93%), hsl(209, 20%, 18%)) 10%, light-dark(hsl(206, 14%, 95%), hsl(206, 14%, 15%)) 60%);
    --certificates: light-dark(#f9f5fa, hsl(288, 15%, 13%));
}

* {
    transition-duration: var(--transitionDuration);
}

:root.dark-theme {
    color-scheme: dark;
}

:root.light-theme {
    color-scheme: light;
}