:root {
    color-scheme: light dark;
    --mainColor: light-dark(#252525, white);
    --static-black: #131313;
    --black1: light-dark(#131313, hsl(0, 0%, 90%));
    --black2: light-dark(white, hsl(0, 0%, 18%));
    --black3: light-dark(hsl(0, 0%, 18%), rgb(169, 169, 169));
    --black4: light-dark(rgb(220, 220, 220), hsl(0, 0%, 18%));
    --white: light-dark(white, #1f1f1f);
    --simi-black: light-dark(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.25));
    --nav-color: light-dark(rgba(255, 255, 255, 0.6), hsla(0, 0%, 10%, 0.6));
    --decorationBarHeight: 8px;
    --transitionDuration: 200ms;
    --boxShadow: 0 0 10px 0 rgba(14, 14, 14, 0.2);
    --boxShadow2: 0 2px 10px 0 rgba(14, 14, 14, 0.2);
    --imageBoxShadow: 0 3px 5px rgba(14, 14, 14, 0.3);
    --hoverBackgroundColor: light-dark(hsla(0, 0%, 15%, 0.125), hsla(0, 0%, 80%, 0.125));
    --index-introduction: linear-gradient(140deg, light-dark(hsl(209, 50%, 93%), hsl(209, 20%, 18%)) 10%, light-dark(hsl(206, 14%, 95%), hsl(206, 14%, 15%)) 60%);
    --certificates: light-dark(#f9f5fa, hsl(288, 15%, 13%));
}

* {
    transition-duration: var(--transitionDuration);
}

:root.dark-theme {
    color-scheme: dark;
}

:root.light-theme {
    color-scheme: light;
}

#html-tech {
    background-image: radial-gradient(rgba(240, 163, 127, 0.9) 2%, rgba(240, 163, 127, 0.5) 90%);
}

#css-tech {
    background-image: radial-gradient(rgba(127, 180, 240, 0.9) 2%, rgba(127, 180, 240, 0.5) 90%);
}

#js-tech {
    background-image: radial-gradient(rgba(255, 255, 79, 0.9) 2%, rgba(255, 255, 79, 0.5) 90%);
    color: var(--static-black);
}

#scroll-driven-animation {
    background-image: radial-gradient(rgba(207, 207, 207, 0.9) 2%, rgba(207, 207, 207, 0.5) 90%);

    a {
        color: var(--static-black);
    }
}

#vs-tech {
    background-image: radial-gradient(rgba(175, 211, 255, 0.9) 2%, rgba(175, 211, 255, 0.5) 90%);
}

#git-tech {
    background-image: radial-gradient(rgba(255, 156, 141, 0.9) 2%, rgba(255, 156, 141, 0.5) 90%);
}

#github-tech {
    background-image: radial-gradient(rgba(45, 45, 45, 0.9) 2%, rgba(45, 45, 45, 0.6) 90%);
    color: white;
}

#figma-tech {
    background-image: radial-gradient(rgba(156, 255, 182, 0.9) 2%, rgba(156, 255, 182, 0.5) 90%);
    color: var(--static-black);
}

#adobe-color-tech {
    background-image: radial-gradient(rgba(255, 139, 255, 0.9) 2%, rgba(255, 139, 255, 0.5) 90%);
}

#cinema-tech {
    background-image: radial-gradient(rgba(129, 133, 255, 0.9) 2%, rgba(129, 133, 255, 0.5) 90%);
}

#picsart-tech {
    background-image: radial-gradient(rgba(147, 62, 202, 0.9) 2%, rgba(147, 62, 202, 0.5) 90%);
}

#adobe-lightroom-tech {
    background-image: radial-gradient(rgba(38, 137, 210, 0.9) 2%, rgba(38, 137, 210, 0.5) 90%);
}

#jquery-tech {
    background-image: radial-gradient(rgba(129, 171, 243, 0.9) 2%, rgba(129, 171, 243, 0.5) 90%);
}