:root {
    --mainColor: #252525;
    --black1: #131313;
    --decorationColor1: linear-gradient(10deg, #15f5fd 10%, #036cda 80%);
    --decorationColor2: linear-gradient(10deg, #f2ecb6 10%, #a96f44 80%);
    --decorationColor3: linear-gradient(10deg, #ffc0d6 10%, #e0709f 80%);
    --decorationColor4: linear-gradient(10deg, #e2b0ff 10%, #9f44d3 80%);
    --decorationColor5: linear-gradient(10deg, #dfec51 10%, #73aa0a 80%);
    --simi-black: rgba(0, 0, 0, 0.3);
    --nav-color: rgba(255, 255, 255, 0.6);
    --decorationBarHeight: 8px;
    --transitionDuration: 200ms;
    --boxShadow: 0 0 10px 0 rgba(14, 14, 14, 0.2);
    --imageBoxShadow: 0 3px 5px rgba(14, 14, 14, 0.3);
    --hoverBackgroundColor: #25252540;
    background-color: var(--mainColor);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: var(--mainColor);
    font-family: "Lexend", sans-serif;
    color: var(--mainColor);
    font-size: clamp(0.9375rem, 1rem, 1.125rem);
}

nav {
    position: fixed;
    z-index: 100;
    left: 8%;
    right: 8%;
    background-color: var(--nav-color);
    backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    z-index: 98;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--boxShadow);
    animation-name: slideDown;
    animation-fill-mode: both;
    animation-duration: 3000ms;
    animation-timing-function: cubic-bezier(1, 0, 0.25, 1);
}

.nav-links {
    margin: 2px;
    margin-right: 1%;
    float: right;
    padding: 0;
    display: flex;
}

nav .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 0.25em;
    margin: 0.5em;
    transition: 200ms;
    border-radius: 5px;
}

nav .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    transition: 200ms;
    border-radius: 5px;
}

nav .hamburger:hover {
    background-color: var(--hoverBackgroundColor);
}

nav .hamburger .bar {
    width: 20px;
    height: 3px;
    background-color: var(--mainColor);
    margin: 1px;
    border-radius: 3px;
}

.nav-links li {
    list-style: none;
    float: left;
    margin-left: 5px;
}


.nav-buttons {
    text-decoration: none;
    color: var(--mainColor);
    margin: 7px;
    display: block;
    padding: 3px 5px;
    border-radius: 5px;
    transition-duration: var(--transitionDuration);
    font-weight: 500;
    font-size: 0.8rem;
}

#my-workshop {
    cursor: pointer;
}

.logo-name {
    position: relative;
    font-size: 1.15rem;
    left: 1em;
    font-weight: bold;
}

/* hovering */
.nav-buttons:hover {
    background-color: #25252540;
}

.nav-buttons:active {
    background-color: var(--mainColor);
    color: white;
}

#cv {
    background-color: var(--black1);
    color: white;
    pointer-events: none;
}

main {
    position: relative;
    top: 10vh;
}

.cv {
    background-color: white;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    padding: 8px;
    box-shadow: var(--boxShadow);
    display: grid;
    grid-template-columns: minmax(150px, 1fr) minmax(150px, 2fr) minmax(150px, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
}

.photo-area {
    height: 100%;
    background-color: #626262;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    font-size: 14px;
    grid-row: span 3;

    a {
        color: white;
    }
}

.photo-area img {
    width: 70%;
    border-radius: 50%;
    border: 2px solid white;
}

.photo-area #name {
    width: 80%;
    margin: 10px auto 0;
    text-align: center;
}

.photo-area #under-name {
    letter-spacing: 3px;
    font-size: 12px;
    width: 80%;
    margin: -5px auto 10%;
    text-align: center;
}

.photo-area #contacts {
    list-style-type: none;
    padding: 3px;
    text-wrap: wrap;
    width: 80%;
    align-self: center;
    line-height: 17px;
}

.photo-area #contacts li {
    margin-bottom: 8px;
}

.photo-area h2 {
    margin: 20px 2% 0;
    align-self: flex-start;
    text-transform: uppercase;
}

.photo-area hr {
    color: white;
    width: 100%;
    margin: 2px auto 5px;
    border-color: white;
}

.photo-area .lists {
    padding: 1%;
    text-wrap: wrap;
    width: 80%;
}

.photo-area .lists li {
    margin-bottom: 15px;
}

div h3 {
    font-size: 23px;
    text-transform: uppercase;
}

.education {
    grid-column-start: 2;
}

.education small,
.skills small {
    display: block;
    margin: -10px 0 10px 10px;
    font-weight: 300;
}

.about-me {
    p {
        margin: 0 12px;
        line-height: calc(1.5 * 17px);
    }
}

.skills {
    grid-column-start: 3;
}

.essentials-div {
    grid-column-start: 3;
}

.experience {
    grid-column-start: 2;
    grid-row: 2 / span 2;
}

.additional-info {
    grid-column-start: 3;
}

.sub-content {
    padding: 0 10px 20px;
    border-radius: 8px;
    box-shadow: var(--boxShadow);

    ul li {
        margin-bottom: 10px;
    }
}

.experience-content h4 {
    margin-left: 10px;
    margin-bottom: 5px;

    span {
        font-size: 13px;
        font-weight: 300;
    }
}

.experience-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-bottom: 10px;

    ol {
        margin-top: 8px;
        padding-left: 24px;
    }
}

#front-end {
    grid-column: span 2;
}

.hor-break {
    width: 40%;
    height: 0.5px;
    background-color: var(--mainColor);
    margin: 16px;
}

.experiences {
    background-color: rgba(98, 98, 98, 0.2);
    border-radius: 5px;
}

dl dt {
    margin-left: 10px;
}

dl dd {
    margin-left: 16px;
}

/* no need to remove it in the future ;D */
dd:empty::after {
    content: "Empty.";
}

/*  */

.button {
    padding: 15px;
    border: 0;
    border-radius: 25px;
    font-family: "Lexend", sans-serif;
    background-color: white;
    transition-duration: var(--transitionDuration);
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.23);
    color: white;
    box-shadow: var(--boxShadow);
    transform: scale(1.08);
}

.button:active {
    transform: scale(1);
}

#download-button {
    margin: 10px 3% 10px 5%;
}

@media (min-width:585px) and (max-width:941px) {
    .cv {
        grid-template-columns: minmax(150px, 1fr) minmax(150px, 2fr);
    }

    .essentials-div {
        grid-column-start: 2;
        grid-row-start: 3;
    }

    .skills {
        grid-column-start: 1;
        grid-column: span 2;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .education {
        grid-row-start: 1;
    }

    .experience {
        grid-row-start: 5;
        grid-column: 1 / span 2;
    }

    .about-me {
        grid-column: 2;
    }
}

@media (max-width:585px) {
    .cv {
        grid-template-columns: minmax(150px, 1fr);
    }

    .education,
    .skills,
    .experience,
    .essentials-div,
    .about-me {
        grid-column-start: 1;
        grid-row-start: unset;
    }

    .about-me {
        grid-row-start: 5;
    }

    .essentials-div {
        grid-row-start: 6;
    }
}

@media (max-width:445px) {
    nav {
        height: 35px;
    }

    nav .nav-links {
        visibility: hidden;
        position: fixed;
        z-index: 95;
        top: 35px;
        right: 25px;
        left: 25px;
        background-color: var(--mainColor);
        backdrop-filter: blur(10px);
        -moz-backdrop-filter: blur(10px);
        -ms-backdrop-filter: blur(10px);
        -o-backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        flex-direction: column;
        padding: 1rem;
        margin: 0;
        border-radius: 0 0 0.5em 0.5em;
        box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.2);
    }

    .nav-buttons {
        color: white;
    }

    .nav-buttons:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .nav-buttons:active {
        color: var(--mainColor);
        background-color: white;
    }

    #cv {
        background-color: white;
        color: var(--mainColor);
        pointer-events: none;
    }

    nav .nav-links.active {
        display: flex;
    }

    nav .hamburger {
        display: flex;
    }
}

button[aria-label="Visual Search"],
button[data-visual-search] {
    display: none !important;
}