@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');
/* font-family: "Noto Serif TC", serif; */

:root {
    background-color: var(--black1);
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: white;
    color: var(--mainColor);
    font-family: "Lexend", sans-serif;
    font-size: clamp(0.9375rem, 1rem, 1.125rem);
    height: 100vh;
    overflow-y: clip;
}

nav {
    position: fixed;
    z-index: 100;
    left: 8%;
    right: 8%;
    background-color: var(--nav-color);
    -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    z-index: 98;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--boxShadow);
    animation-name: slideDown;
    animation-fill-mode: both;
    animation-duration: 3000ms;
    animation-timing-function: cubic-bezier(1, 0, 0.25, 1);
}

.nav-links {
    margin: 2px;
    margin-right: 1%;
    float: right;
    padding: 0;
    display: flex;
    align-items: center;
    transition-duration: unset;
}

nav .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 0.25em;
    margin: 0.5em;
    transition: 200ms;
    border-radius: 5px;
}

nav .hamburger:hover {
    background-color: var(--hoverBackgroundColor);
}

nav .hamburger .bar {
    width: 20px;
    height: 3px;
    background-color: var(--mainColor);
    margin: 1px;
    border-radius: 3px;
}

.nav-links li {
    list-style: none;
    float: left;
}

.nav-buttons {
    text-decoration: none;
    color: var(--mainColor);
    margin: 7px;
    display: block;
    padding: 3px 5px;
    border-radius: 0.475em;
    transition-duration: var(--transitionDuration);
    font-weight: 500;
    font-size: 0.8rem;
}

#timeline {
    opacity: 0.3;
    pointer-events: none;
}

#my-workshop {
    cursor: pointer;
}

.logo-name {
    position: relative;
    font-size: 1.15rem;
    left: 1em;
    font-weight: bold;
}

/* hovering */
.nav-buttons:hover {
    background-color: var(--hoverBackgroundColor);
}

.nav-buttons:active {
    background-color: var(--mainColor);
    color: var(--white);
}

#my-workshop {
    background-color: var(--black1);
    color: var(--white);
    pointer-events: none;
}

/* checkbox theme */
.checkbox-wrapper-54 input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.checkbox-wrapper-54 *,
.checkbox-wrapper-54 ::after,
.checkbox-wrapper-54 ::before {
    box-sizing: border-box;
}

/* The switch - the box around the slider */
.checkbox-wrapper-54 .switch {
    --width-of-switch: 3em;
    --height-of-switch: 1.5em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.125em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.25em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
    display: inline-block;
    margin-inline-start: 1.5em;
}

/* The slider */
.checkbox-wrapper-54 {
    display: flex;
    align-items: center;
}

.checkbox-wrapper-54 .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(240, 5%, 85%);
    transition: .4s;
    border-radius: 30px;
}

.checkbox-wrapper-54 .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon, 1.4em);
    width: var(--size-of-icon, 1.4em);
    border-radius: 20px;
    left: var(--slider-offset, 0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
    ;
    transition: .4s;
}

.checkbox-wrapper-54 input:checked+.slider {
    background-color: #303136;
}

.checkbox-wrapper-54 input:checked+.slider:before {
    left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

.introduction {
    height: 100vh;
    position: relative;
    perspective: 500px;
    overflow: hidden;
    background-color: var(--white);
    overflow: hidden;
}

.background {
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    z-index: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    animation-name: background;
    animation-duration: 2.7s;
}

.top-introduction {
    position: absolute;
    z-index: 1;
    top: 15vh;
    margin-left: 8%;
    perspective: 500px;
}

.top-introduction::before {
    content: "";
    width: 10px;
    height: 85vh;
    background-image: linear-gradient(100deg, var(--mainColor), var(--white));
    position: absolute;
    z-index: 1;
    border-radius: 20px;
    left: -3%;
    top: 5px;
    animation-name: swip-up;
    animation-duration: 1.5s;
}

.top-introduction::after {
    content: "";
    width: 10px;
    height: calc(85vh - 25px);
    background-image: linear-gradient(100deg, var(--mainColor), var(--white));
    position: absolute;
    z-index: 1;
    border-radius: 20px;
    left: -27px;
    top: 30px;
    animation-name: swip-up;
    animation-duration: 1.7s;
}

.top-introduction h1 {
    font-size: 4rem;
    font-weight: 999;
    margin: 0;
    margin-bottom: -15px;
    word-spacing: 10px;
    animation-name: swip-left;
    animation-duration: 1500ms;
}

.top-introduction span {
    display: inline-block;
    font-size: 0.8125rem;
    font-weight: 300;
    letter-spacing: 5px;
    margin-left: 3px;
    animation-name: swip-left;
    animation-duration: 2000ms;
}

.navigations {
    --big-screen: 1;
    --small-screen: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    z-index: 1;
    left: 58%;
    top: 50%;
    aspect-ratio: 1;
    width: 20em;
    transform: translate(-58%, -50%);
    clip-path: circle(100% at center);
    border-radius: 50%;
    border-right: 0.4em solid var(--mainColor);
    transition: 300ms;
    overflow: visible;
    animation: navigations 2s;

    li {
        margin: 0;
        padding: 0;
        width: fit-content;
        position: absolute;
        transition-duration: var(--transitionDuration);
        overflow: visible;

        a {
            clip-path: circle();
            background-color: var(--mainColor);
            border-radius: 50%;
            padding: 0.65em;
            aspect-ratio: 1;
            color: var(--white);
            display: flex;
            align-items: center;
            position: relative;
            transition-duration: 100ms;
        }

        span {
            position: absolute;
            left: calc(100% + 0.5em);
            top: 50%;
            transform: translateY(-50%);
            translate: -50% 0;
            color: var(--mainColor);
            font-weight: bold;
            text-wrap: nowrap;
            scale: 0;
            opacity: 0;
            transition-duration: var(--transitionDuration);
        }

        a:active {
            scale: 0.9;
        }
    }

    li:hover {
        scale: 1.2;
    }

    li:hover span {
        scale: unset;
        opacity: unset;
        translate: 0 0;
    }


    #websites {
        --top: 8%;
        --right: 7%;
        top: var(--top);
        right: var(--right);
    }

    #websites:hover~#open-source,
    #websites:hover~#ui-ux,
    #websites:hover~#modeling,
    #open-source:hover~#ui-ux,
    #open-source:hover~#modeling,
    #ui-ux:hover~#modeling {
        top: calc(var(--top) + 2.5%);
        right: calc((var(--top) / 16 + var(--right)) - 2.5%);
    }

    #open-source {
        --top: 31%;
        --right: -7%;
        top: var(--top);
        right: var(--right);
    }

    #ui-ux {
        --top: 56%;
        --right: -7%;
        top: var(--top);
        right: var(--right);
    }

    #modeling {
        --top: 79%;
        --right: 7%;
        top: var(--top);
        right: var(--right);
    }
}

.logo-area-realtive {
    position: relative;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 250px;
}

.logo-area-realtive img[alt="circle"],
.logo-area-realtive img[alt="line"] {
    width: inherit;
    mix-blend-mode: darken;
    filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.334));
    animation-name: logo;
    animation-duration: 2s;
    transition: 200ms;
}

.logo-area-realtive img[alt="line"] {
    mix-blend-mode: lighten;
    position: absolute;
    left: 0;
    bottom: 1.75em;
    animation-name: logo;
    animation-duration: 2.3s;
    transition: 300ms;
}

.logo-area-realtive:hover img[alt="circle"],
.logo-area-realtive:hover img[alt="line"] {
    transform: scale(1.04);
}

.logo-area-realtive:hover~.navigations {
    translate: 1.5em 0;
    scale: 1.04;
}

.logo-area-realtive:hover .loaiproject {
    opacity: 1;
    transform: translateX(50%) scale(1);
}

.loaiproject {
    position: absolute;
    top: 70%;
    right: 50%;
    transform: translateX(50%) scale(0.8);
    font-family: "Noto Serif TC", serif;
    font-weight: 500;
    font-size: 20px;
    font-size-adjust: 0.5;
    letter-spacing: 3px;
    opacity: 0;
    pointer-events: none;
    transition: 200ms;
}

.introduction .fact {
    position: absolute;
    z-index: 1;
    bottom: 25px;
    margin-left: 8%;
    font-weight: 300;
    font-size: 0.8125rem;
    animation-name: swip-left;
    animation-duration: 1.6s;
}

.overlay {
    display: none;
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) 50%, transparent);
    backdrop-filter: blur(5px);
    inset: 0;
    width: 100%;
    height: 100vh;
    transition-duration: unset;

    div {
        width: 80%;
        height: 80vh;
        background-color: var(--white);
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        box-shadow: var(--boxShadow);
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1#mentain-svg {
            width: 2em;

            svg {
                fill: var(--mainColor);
            }
        }

        p {
            text-align: center;
        }
    }
}

.close-button {
    position: absolute;
    top: 1vw;
    right: 1vw;
    border-radius: 50%;
    border: none;
    background: var(--black2);
    aspect-ratio: 1;
    width: 2.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: var(--boxShadow);
    transition-duration: var(--transitionDuration);

    span {
        width: 60%;
        height: 0.125rem;
        background-color: var(--black1);
        border-radius: 2rem;
        position: absolute;
    }

    span:first-of-type {
        transform: rotate(45deg);
    }

    span:last-of-type {
        transform: rotate(-45deg);
    }
}

.close-button:hover {
    opacity: 0.7;
}

.close-button:active {
    scale: 0.8;
}

.white-fog {
    position: absolute;
    z-index: 2;
    top: 100vh;
    transform: translate(0, -50%);
    width: 100%;
    height: 140px;
    background-image: linear-gradient(to bottom, transparent, var(--white) 50%);
    border: none;
    margin: 0;
}

@media (prefers-reduced-motion:no-preference) {
    @keyframes background {
        from {
            transform: scale(1.4) rotate(10deg);
        }
    }

    @keyframes swip-up {
        from {
            top: 100vh;

        }
    }

    @keyframes swip-left {
        from {
            transform: translatex(3rem);
            opacity: 0;
        }
    }

    @keyframes logo {
        from {
            transform: scale(1.2);
            opacity: 0;
        }
    }

    @keyframes navigations {
        from {
            translate: calc(1.5em * var(--big-screen)) calc(1.5em * var(--small-screen));
            opacity: 0;
        }
    }
}

@media (max-width:1060px) {
    .navigations {
        rotate: 20deg;
        transform: translate(-58%, -20%);

        li {
            rotate: -20deg;
        }
    }
}

@media (max-width:790px) {
    .navigations {
        --big-screen: 0;
        --small-screen: 1;
        width: 20em;
        rotate: 90deg;
        left: 50%;
        transform: translate(-30%, 50%);

        li {
            rotate: -90deg;
        }

        li:not(#modeling) span {
            top: 120%;
            left: 10%;
        }
    }

    .logo-area-realtive:hover~.navigations {
        translate: 0 1em;
        scale: unset;
    }
}

@media (max-width:715px) {
    .top-introduction h1 {
        line-height: 0.85;
    }

    .top-introduction span {
        margin-top: 1.25em;
    }
}

@media (max-width:580px) {
    .navigations {
        width: 17em;
    }

    .top-introduction h1 {
        font-size: 3rem;
    }

    .logo-area-realtive {
        width: 200px;
    }

    .logo-area-realtive img[alt="line"] {
        bottom: 1.5em;
    }

    .loaiproject {
        font-size: 0.9125rem;

    }

    .top-introduction::after {
        left: -23px;
    }

}

@media (max-width:540px) {
    nav {
        height: 35px;
    }

    nav .nav-links {
        visibility: hidden;
        position: fixed;
        z-index: 95;
        top: 35px;
        right: 25px;
        left: 25px;
        background-color: #252525;
        -moz-backdrop-filter: blur(10px);
        -ms-backdrop-filter: blur(10px);
        -o-backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        flex-direction: column;
        padding: 1rem;
        margin: 0;
        border-radius: 0 0 0.5em 0.5em;
        box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.2);
        align-items: unset;
    }

    .nav-links li:last-of-type {
        align-self: flex-end;
    }

    .nav-buttons {
        color: white;
    }

    .nav-buttons:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .nav-buttons:active {
        color: var(--mainColor);
        background-color: var(--white);
    }

    #my-workshop {
        background-color: white;
        color: var(--static-black);
        pointer-events: none;
    }

    nav .nav-links.active {
        display: flex;
    }

    nav .hamburger {
        display: flex;
    }

    .navigations {
        width: 15em;

        li {
            width: 2.25em;

            span {
                font-size: 0.75rem;
            }
        }
    }

    .top-introduction h1 {
        margin-left: 2%;
    }

    .top-introduction span {
        letter-spacing: 3px;
        margin-left: 3%;
        line-height: 0.85;
    }

    .logo-area-realtive {
        width: 170px;
    }

    .loaiproject {
        font-size: 0.75rem;

    }

    .introduction .fact {
        margin-left: 9%;
    }

}

button[aria-label="Visual Search"],
button[data-visual-search] {
    display: none !important;
}