:root {
  color-scheme: light dark;
  --mainColor: light-dark(#252525, white);
  --static-black: #131313;
  --black1: light-dark(#131313, hsl(0, 0%, 90%));
  --button-color: light-dark(#131313, hsl(0, 0%, 25%));
  --black2: light-dark(white, hsl(0, 0%, 18%));
  --black3: light-dark(hsl(0, 0%, 18%), rgb(169, 169, 169));
  --black4: light-dark(rgb(220, 220, 220), hsl(0, 0%, 18%));
  --white: light-dark(white, #1f1f1f);
  --simi-black: light-dark(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.25));
  --nav-color: light-dark(rgba(255, 255, 255, 0.6), hsla(0, 0%, 10%, 0.6));
  --decorationBarHeight: 8px;
  --transitionDuration: 200ms;
  --boxShadow: 0 0 10px 0 rgba(14, 14, 14, 0.2);
  --boxShadow2: 0 2px 10px 0 rgba(14, 14, 14, 0.2);
  --imageBoxShadow: 0 3px 5px rgba(14, 14, 14, 0.3);
  --hoverBackgroundColor: light-dark(hsla(0, 0%, 15%, 0.125), hsla(0, 0%, 75%, 0.125));
  --index-introduction: linear-gradient(140deg, light-dark(hsl(209, 50%, 93%), hsl(200, 3%, 15%)) 10%, light-dark(hsl(206, 14%, 95%), hsl(206, 10%, 14%)) 60%);
  --certificates: light-dark(#f9f5fa, hsl(288, 15%, 13%));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: clip;
}

* {
  transition-duration: var(--transitionDuration);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lexend", sans-serif;
  font-size: clamp(0.9375rem, 1rem, 1.125rem);
}

:root.dark-theme {
  color-scheme: dark;
}

:root.light-theme {
  color-scheme: light;
}

button {
  font-family: "Lexend", sans-serif;
  cursor: pointer;
}

.loading-warper {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(var(--black4), var(--white));
  display: flex;
  justify-content: center;
  align-items: center;

  .loading-triangle {
    aspect-ratio: 1;
    width: 1.5rem;
    background-color: var(--black1);
    display: inline;
    translate: 0 -12%;
    transform-origin: center 65%;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    animation: loadingScreen both;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
  }

  .loading-circle {
    position: absolute;
    aspect-ratio: 1;
    width: 2rem;
    border-radius: 50%;
    border: 0.05em solid var(--black1);
  }
}

@keyframes loadingScreen {
  100% {
    transform: rotate(360deg);
  }
}

#html-tech {
  background-image: radial-gradient(rgba(240, 163, 127, 0.9) 2%, rgba(240, 163, 127, 0.5) 90%);
}

#css-tech {
  background-image: radial-gradient(rgba(127, 180, 240, 0.9) 2%, rgba(127, 180, 240, 0.5) 90%);
}

#js-tech {
  background-image: radial-gradient(rgba(255, 255, 79, 0.9) 2%, rgba(255, 255, 79, 0.5) 90%);
  color: var(--static-black);
}

#scroll-driven-animation {
  background-image: radial-gradient(rgba(207, 207, 207, 0.9) 2%, rgba(207, 207, 207, 0.5) 90%);

  a {
    color: var(--static-black);
  }
}

#vs-tech {
  background-image: radial-gradient(rgba(175, 211, 255, 0.9) 2%, rgba(175, 211, 255, 0.5) 90%);
}

#git-tech {
  background-image: radial-gradient(rgba(255, 156, 141, 0.9) 2%, rgba(255, 156, 141, 0.5) 90%);
}

#github-tech {
  background-image: radial-gradient(rgba(25, 25, 25, 0.8), rgba(25, 25, 25, 0.9) 90%);
  color: white;
}

#figma-tech {
  background-image: radial-gradient(rgba(156, 255, 182, 0.9) 2%, rgba(156, 255, 182, 0.5) 90%);
  color: var(--static-black);
}

#adobe-color-tech {
  background-image: radial-gradient(rgba(255, 139, 255, 0.9) 2%, rgba(255, 139, 255, 0.5) 90%);
}

#cinema-tech {
  background-image: radial-gradient(rgba(129, 133, 255, 0.9) 2%, rgba(129, 133, 255, 0.5) 90%);
}

#picsart-tech {
  background-image: radial-gradient(rgba(147, 62, 202, 0.9) 2%, rgba(147, 62, 202, 0.5) 90%);
}

#adobe-lightroom-tech {
  background-image: radial-gradient(rgba(38, 137, 210, 0.9) 2%, rgba(38, 137, 210, 0.5) 90%);
}

#jquery-tech {
  background-image: radial-gradient(rgba(129, 171, 243, 0.9) 2%, rgba(129, 171, 243, 0.5) 90%);
}

#bootstrap-tech {
  background-image: radial-gradient(rgba(183, 120, 255, 0.9) 2%, rgba(183, 120, 255, 0.5) 90%);
}

#cursor-tech {
  background-image: radial-gradient(rgba(1, 1, 1, 0.8), rgba(1, 1, 1, 0.9) 90%);
  color: white;
}

#jasmine-tech {
  background-image: radial-gradient(rgba(255, 159, 245, 0.9) 2%, rgba(255, 159, 245, 0.5) 90%);
}

#stitch-tech {
  background-image: radial-gradient(rgba(206, 145, 255, 0.9) 2%, rgba(206, 145, 255, 0.5) 90%);
}

#ts-tech {
  background-image: radial-gradient(rgba(82, 184, 253, 0.9) 2%, rgba(82, 184, 253, 0.5) 90%);
}