#html-tech {
  background-image: radial-gradient(rgba(240, 163, 127, 0.9) 2%, rgba(240, 163, 127, 0.5) 90%);
}

#css-tech {
  background-image: radial-gradient(rgba(127, 180, 240, 0.9) 2%, rgba(127, 180, 240, 0.5) 90%);
}

#js-tech {
  background-image: radial-gradient(rgba(255, 255, 79, 0.9) 2%, rgba(255, 255, 79, 0.5) 90%);
  color: var(--static-black);
}

#git-tech {
  background-image: radial-gradient(rgba(255, 156, 141, 0.9) 2%, rgba(255, 156, 141, 0.5) 90%);
}

#github-tech {
  background-image: radial-gradient(rgba(25, 25, 25, 0.8), rgba(25, 25, 25, 0.9) 90%);
  color: white;
}

#figma-tech {
  background-image: radial-gradient(rgba(156, 255, 182, 0.9) 2%, rgba(156, 255, 182, 0.5) 90%);
  color: var(--static-black);
}

#adobe-color-tech {
  background-image: radial-gradient(rgba(255, 139, 255, 0.9) 2%, rgba(255, 139, 255, 0.5) 90%);
}

#cinema-tech {
  background-image: radial-gradient(rgba(129, 133, 255, 0.9) 2%, rgba(129, 133, 255, 0.5) 90%);
}

#picsart-tech {
  background-image: radial-gradient(rgba(147, 62, 202, 0.9) 2%, rgba(147, 62, 202, 0.5) 90%);
}

#adobe-lightroom-tech {
  background-image: radial-gradient(rgba(38, 137, 210, 0.9) 2%, rgba(38, 137, 210, 0.5) 90%);
}

#jquery-tech {
  background-image: radial-gradient(rgba(129, 171, 243, 0.9) 2%, rgba(129, 171, 243, 0.5) 90%);
}

#bootstrap-tech {
  background-image: radial-gradient(rgba(183, 120, 255, 0.9) 2%, rgba(183, 120, 255, 0.5) 90%);
}

#cursor-tech {
  background-image: radial-gradient(rgba(1, 1, 1, 0.8), rgba(1, 1, 1, 0.9) 90%);
  color: white;
}

#jasmine-tech {
  background-image: radial-gradient(rgba(255, 159, 245, 0.9) 2%, rgba(255, 159, 245, 0.5) 90%);
}

#stitch-tech {
  background-image: radial-gradient(rgba(206, 145, 255, 0.9) 2%, rgba(206, 145, 255, 0.5) 90%);
}

#ts-tech {
  background-image: radial-gradient(rgba(82, 184, 253, 0.9) 2%, rgba(82, 184, 253, 0.5) 90%);
}

#tailwind-tech {
  background-image: radial-gradient(hsla(196, 100%, 80%, 0.5) 2%, hsla(196, 100%, 80%, 0.4) 90%);
}

#react-tech {
  background-image: radial-gradient(hsla(192, 88%, 90%, 0.9) 2%, hsla(192, 88%, 90%, 0.5) 90%);
}

#vite-tech {
  background-image: radial-gradient(hsla(201, 100%, 85%, 0.9) 2%, hsla(239, 100%, 85%, 0.502) 90%);
}

#motion-tech {
  background-image: radial-gradient(hsla(55, 100%, 80%, 0.9) 2%, hsla(55, 100%, 80%, 0.5) 90%);
}

#v0-tech {
  background-image: radial-gradient(rgba(1, 1, 1, 0.9), rgba(1, 1, 1, 0.9) 90%);
  color: white;
}

#vercel-tech {
  background-image: radial-gradient(rgba(1, 1, 1, 0.9), rgba(1, 1, 1, 0.9) 90%);
  color: white;
}